.head {
    width: 200px;

    outline: 2px solid black;

    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.itemColumn {
    outline: 2px solid black;
    text-align: center;
}

.itemLine:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
    ;
}